.fridgeIndex {
  .fridgeIndex__container {
    .fridgeIndex__slogan {
      display: flex;
      align-items: center;
      padding: 10px;
      justify-content: center;
      h4 {
        color: #444545;
        font-size: 14px;
        font-weight: normal;
      }
      & > .MuiSvgIcon-root {
        color: #444545;
      }
      .ticker {
        width: 100%;
      }
    }
    .fridgeIndex__overview {
      background-image: url("/src/images/fridgeIndexBar.png");
      background-position: center;
      border-radius: 0 0 20px 20px;
      display: flex;
      justify-content: space-around;
      padding: 50px 30px;
      .fridgeIndex__overviewItem {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    .fridgeIndex__main {
      display: flex;
      justify-content: space-around;
      .fridgeIndex__button {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // border: 1px solid gray;
        color: rgb(226, 195, 154);
      }
    }
    .fridgeIndex__expiring__title {
      h4 {
        padding: 20px;
        font-size: 24px;
      }
    }
    .fridgeIndex__expiring {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      border-radius: 20px;
      box-shadow: 4px 4px gray;
      .fridgeIndex__expiring__img {
        width: 150px;
      }
      .fridgeIndex__expiring__content {
        display: flex;
        flex-direction: column;
      }
    }
    .addingredient {
      position: fixed;
      bottom: 80px;
      right: 10px;
      & > .MuiSvgIcon-root {
        color: rgb(226, 195, 154);
        font-size: 72px;
      }
    }
  }
}
