.ProfilePage{
    overflow:scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    .profile__card{
        background-color: #FE8B83;
    }
    .profile__progress{
        width: 200px;      
        margin-left: 114px; 
        margin-top: 80px;   
    }
    .profile__avatar{
        margin-left: 125px;  
        margin-top: -194px;  
        height: 178px;
        width: 178px;
    }
    .profile__name{
        text-align: center;
        font-size:xx-large;
        margin-top: 20px;
        font-weight: bolder;
    }
    .profile__button{
        background-color: #FFD700;
        margin-left: 155px;
        border-radius: 20px;
        width: 100px;
        margin-top: 10px;
    }
    .profile__buttonName{
        color: #ffffff !important
    }
    .profile__tabpanel{
        overflow: auto;  
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .profile__tabs{
        margin-bottom: -25px;
        color:  #FE8B83;
    }
    .profile__tab1{
        padding-left: 103px;
        padding-right: 80px;
    }
    .profile__tab2{
        padding-left: 80px;
        padding-right: 103px;
    }
    .profile__imagelist{
        overflow:scroll;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .profile__typography{
        color: #bab9b9 !important
    }
    .profile__logout{
        width: 100px;
        color: #FE8B83;
        font-size: larger;
        font-weight: bolder;
        margin-top: 50px;
        margin-bottom: 20px;
        margin-left: 118px;
    }
  
}