@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.fs-1 {
  font-size: 12px;
}

.fs-2 {
  font-size: 14px;
}

.fs-3 {
  font-size: 18px;
}

.fs-4 {
  font-size: 24px;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  color: #444545 !important;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  display: block;
}

body > iframe + iframe {
  /*
莫名其妙出現的 iframe 標籤出現
類似一個透明的牆，覆蓋整個 app ，導致無法按按鈕，會沒反應
*/
  background-color: blue !important;
  left: -5000px !important;
}

.recipeItem__checkIcon {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipeItem__checkIcon > .MuiSvgIcon-root {
  font-size: 48px;
}

.recipeItem__checkIcon > h4 {
  font-size: 18px;
}

.TabPanel__box {
  background-color: #f5f5f5;
  padding: 20px;
}

.TabPanel__box .Tabpanel__block {
  height: 100vw;
  overflow: auto;
}

.TabPanel__box .Tabpanel__block .TabPanel__box__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.TabPanel__box .Tabpanel__block .TabPanel__box__title > h4 {
  font-size: 24px;
  color: #fe8b83;
  padding-right: 10px;
}

.TabPanel__box .Tabpanel__block .TabPanel__box__title > h5 {
  font-size: 18px;
}

.TabPanel__box .TabPanel__box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.TabPanel__box .TabPanel__box__item > li {
  padding-right: 10px;
  font-weight: bold;
}

.TabPanel__box .TabPanel__box__item > span {
  color: gray;
}

.TabPanel__box::-webkit-scrollbar {
  display: none;
}

.TabPanel__box li {
  padding: 10px 0;
}

.recipeItem__title {
  background-color: #fe8b83;
  color: white;
  font-size: 24px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination {
  --swiper-theme-color: #fe8b83;
  padding-bottom: 10px;
}

.css-ahj2mt-MuiTypography-root {
  color: gray !important;
}

.recipe__index .recipeIndexTop {
  background-color: #fe8b83;
  width: 100%;
  height: 160px;
  border-radius: 0 0 20px 20px;
}

.recipe__index .recipeIndexTop .recipeIndexTop__slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recipe__index .recipeIndexTop .recipeIndexTop__slogan h4 {
  color: white;
  font-size: 14px;
  font-weight: normal;
}

.recipe__index .recipeIndexTop .recipeIndexTop__slogan > .MuiSvgIcon-root {
  color: white;
}

.recipe__index .recipeIndexTop .recipeIndexTop__slogan .ticker {
  width: 100%;
}

.recipe__index .recipeIndexTop .recipeIndexTop__title {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recipe__index .recipeIndexTop .recipeIndexTop__title h4 {
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.recipe__index .recipeIndexTop .recipeIndexTop__title > .MuiSvgIcon-root {
  color: white;
  padding-right: 20px;
}

.recipe__index .recipeIndexTop .recipeIndexTop__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipe__index .recipeIndexTop .recipeIndexTop__search .search {
  width: 80%;
  padding-left: 10px;
}

.recipe__index .recipeIndexTop .recipeIndexTop__search input {
  width: 80%;
  border: none;
  border-radius: 20px;
  color: #444545;
  width: 100%;
  padding: 0px 6px;
  outline: none;
}

.recipe__index .recipeIndexTop .recipeIndexTop__search .header {
  display: none;
}

.recipe__index .recipeIndexTop .recipeIndexTop__search .MuiSvgIcon-root {
  color: #fff;
}

.recipe__index .recipeIndexTop .recipeIndexTop__search .content {
  display: block;
  background-color: white;
  width: 100%;
  padding: 4px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__title h4 {
  font-size: 24px;
  padding-left: 20px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__title .recipeIndexMiddle__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #fe8b83;
  padding-right: 20px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__title .recipeIndexMiddle__more > .MuiSvgIcon-root {
  font-size: 12px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 100%;
  height: 300px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards .hotCard {
  position: relative;
  padding: 0 20px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards .hotCard .hotCard__img {
  width: 280px;
  height: 240px;
  border-radius: 20px;
  -webkit-box-shadow: -4px 4px 8px gray;
          box-shadow: -4px 4px 8px gray;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards .hotCard .hotCard__content {
  position: absolute;
  bottom: 12px;
  left: 32px;
  width: 215px;
  height: 120px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e9e6e6), to(#fff));
  background-image: linear-gradient(180deg, #e9e6e6, #fff);
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: -4px 4px 8px gray;
          box-shadow: -4px 4px 8px gray;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards .hotCard .hotCard__content .hotCard__title h3 {
  font-size: 28px;
  color: #444545;
  padding-bottom: 5px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards .hotCard .hotCard__content .hotCard__title .hotCard__title-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards .hotCard .hotCard__content .hotCard__title .hotCard__title-2 h4 {
  font-size: 20px;
  color: gray;
  padding-bottom: 5px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards .hotCard .hotCard__content span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: gray;
  margin-top: 5px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards .hotCard .hotCard__content .hotCard__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards .hotCard .hotCard__content .hotCard__items .hotCard__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  height: 100%;
  padding-bottom: 80px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards-1 .recommendCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards-1 .recommendCard .recommendCard__img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  padding-right: 20px;
}

.recipe__index .recipeIndexMiddle .recipeIndexMiddle__cards-1 .recommendCard .recommendCard__img img {
  border-radius: 20px;
}

.recipe__index .recipeIndexMiddle__recommend__recipes-container {
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipe__index .recipeIndexMiddle__recommend__recipes-container > h5 {
  font-size: 18px;
  color: #fe8b83;
}

.recipe__index .recipeIndexMiddle__recommend__recipes-container .recipeIndexMiddle__recommend__recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: #fe8b83;
}

.recipe__index .recipeIndexMiddle__recommend__recipes-container .recipeIndexMiddle__recommend__recipes > .MuiSvgIcon-root {
  color: #fff;
  font-size: 36px;
}

.login-signup-Page .box {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 33px 0 33px;
}

.login-signup-Page .inputTextbox {
  width: 100%;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.login-signup-Page .inputTextbox input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px;
  border: 1px solid #F5F5F5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login-signup-Page .login-sugnup-Button {
  width: 100%;
  margin: 72px 0 0 0;
  box-Shadow: none !important;
}

.login-signup-Page .login-sugnup-Button Button {
  background: #fe8b83;
  color: #FFFFFF;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  border-radius: 20px;
}

.login-signup-Page .signupLink {
  width: 100%;
  margin: 80px 0 40px  0;
  box-Shadow: none !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.login-signup-Page .otherLoginOptions {
  width: 100%;
  box-Shadow: none !important;
}

.login-signup-Page ::-webkit-input-placeholder {
  color: #C4C4C4;
}

.login-signup-Page :-ms-input-placeholder {
  color: #C4C4C4;
}

.login-signup-Page ::-ms-input-placeholder {
  color: #C4C4C4;
}

.login-signup-Page ::placeholder {
  color: #C4C4C4;
}

.login-signup-Page .twitterIcon {
  background: #00acee;
  color: #FFFFFF;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50px;
  padding: 3px;
}

.login-signup-Page .avatar {
  width: 50px !important;
  height: 50px !important;
}

.login-signup-Page .link {
  font-size: 14px;
  text-decoration: none !important;
  color: #fe8b83 !important;
}

.add .add__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fe8b83;
  padding: 20px;
  color: white;
  font-size: 32px;
}

.add .add__title > .MuiSvgIcon-root {
  font-size: 48px;
  padding-left: 15px;
}

.add .addRecipePage .stepInputFieldContainer {
  position: relative;
}

.add .addRecipePage .deleteStepBtn {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50% !important;
}

.add .addRecipePage__submitBtn {
  background-color: #fe8b83 !important;
}

.add .addRecipePage .css-1e0ntss-MuiPaper-root-MuiMobileStepper-root {
  position: fixed;
  bottom: 0;
}

.MuiPaper-root,
.MuiButton-textPrimary {
  padding-bottom: 100px;
  color: #fe8b83 !important;
}

.css-mqac5g-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: #fe8b83;
}

.fridgeIndex .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #C7E3EE;
}

.fridgeIndex .box .overview__container {
  position: relative;
}

.fridgeIndex .box .overview__container .font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  bottom: 30px;
  left: 10%;
  position: absolute;
  top: 100px;
}

.fridgeIndex .box .overview__container .font p {
  text-align: center;
  font-size: 20px;
  width: 20%;
  font-weight: bold;
  margin: 0 18px;
}

.fridgeIndex .box .overview {
  background-image: url("/src/images/fridgeIndexBar.jpg");
  background-size: cover;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  width: 100%;
  height: 213px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0 0 35px 35px;
  position: relative;
}

.fridgeIndex .box .word {
  background: inherit;
  padding: 20px 14px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fridgeIndex .box .word p {
  color: #444545;
  font-size: 24px;
  font-weight: 900;
}

.fridgeIndex .box .function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: inherit;
  padding: 0 0 20px 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fridgeIndex .box .function button {
  background: #FFFFFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin: 0 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.fridgeIndex .box .function button img {
  background: #F0FFF0;
  color: #1AFD9C;
  width: 66px;
  height: 70px;
  border-radius: 50px;
  padding: 10px;
}

.fridgeIndex .box .function button .shoppingListIcon {
  color: #FE8B83;
  background: #FFF3EE;
}

.fridgeIndex .box .function button p {
  font-size: 18px;
}

.fridgeIndex .box .addFood {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: inherit;
  padding: 0 0 20px 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.fridgeIndex .box .addFood button {
  width: 309px;
  height: 165px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.fridgeIndex .box .addFood button .discription {
  text-align: left;
  color: #444545;
}

.fridgeIndex .box .addFood button .discription .fork {
  width: 38px;
  height: 35px;
  margin: 0 0 20px 0;
}

.fridgeIndex .box .addFood button .discription h2 {
  font-size: 18px;
}

.fridgeIndex .box .addFood button .discription h3 {
  font-size: 12px;
}

.fridgeIndex .box .addFood button .avatar {
  text-align: right;
}

.fridgeIndex .box .addFood button .avatar .foodIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 40px 0;
}

.fridgeIndex .box .addFood button .avatar .addIcon {
  background: #FE8B83;
  color: #FFFFFF;
  width: 36px;
  height: 36px;
  border-radius: 50px;
}

.CreateShoppinglist {
  background-color: #C7E3EE;
  height: 100%;
}

.CreateShoppinglist .input-container {
  padding: 0 0 0 33px;
  color: white;
}

.CreateShoppinglist .input-container h5 {
  font-size: 24px;
  margin: 0;
}

.CreateShoppinglist .input-container input {
  background-color: white;
  width: 144px;
}

.CreateShoppinglist .input-container .input-foodname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
}

.CreateShoppinglist .input-container .input-foodname .css-kx6rml-MuiStack-root {
  margin: 0;
}

.CreateShoppinglist .input-container .input-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
}

.CreateShoppinglist .input-container .input-amount h5 {
  word-spacing: 44px;
}

.CreateShoppinglist .input-container .input-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
}

.CreateShoppinglist .input-container .input-unit h5 {
  word-spacing: 44px;
}

.CreateShoppinglist .input-container .input-remark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
}

.CreateShoppinglist .input-container .input-remark h5 {
  word-spacing: 44px;
}

.CreateShoppinglist .input-container .input-remark .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: white;
}

.CreateShoppinglist .input-container .input-remark .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  background-color: white;
}

.CreateShoppinglist .input-container .submit {
  margin-top: 70px;
  margin-left: 84px;
}

.ProfilePage {
  overflow: scroll;
}

.ProfilePage::-webkit-scrollbar {
  display: none;
}

.ProfilePage .profile__card {
  background-color: #FE8B83;
}

.ProfilePage .profile__progress {
  width: 200px;
  margin-left: 150px;
  margin-top: 50px;
}

.ProfilePage .profile__avatar {
  margin-left: 162px;
  margin-top: -194px;
  height: 178px;
  width: 178px;
}

.ProfilePage .profile__name {
  text-align: center;
  font-size: xx-large;
  margin-top: 20px;
  font-weight: bolder;
}

.ProfilePage .profile__button {
  background-color: #FFD700;
  margin-left: 200px;
  border-radius: 20px;
  width: 100px;
  margin-top: 10px;
}

.ProfilePage .profile__buttonName {
  color: #ffffff !important;
}

.ProfilePage .profile__tabpanel {
  overflow: auto;
}

.ProfilePage .profile__tabpanel::-webkit-scrollbar {
  display: none;
}

.ProfilePage .profile__tabs {
  margin-bottom: -25px;
  color: #FE8B83;
}

.ProfilePage .profile__tab1 {
  padding-left: 125px;
  padding-right: 100px;
}

.ProfilePage .profile__tab2 {
  padding-left: 100px;
  padding-right: 125px;
}

.ProfilePage .profile__imagelist {
  overflow: scroll;
}

.ProfilePage .profile__imagelist::-webkit-scrollbar {
  display: none;
}

.ProfilePage .profile__typography {
  color: #bab9b9 !important;
}

.ProfilePage .profile__logout {
  width: 100px;
  color: #FE8B83;
  font-size: larger;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 155px;
}

.ingredientsSelector .inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ingredientsSelector > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recipeCardlist .MuiPaper-root {
  padding-bottom: 0;
}

.recipeCardlist .block {
  margin-top: 120px;
}

.recipeCardlist .area {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.recipeCardlist .content {
  margin-right: 80px;
}

.recipeCardlist .img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin-right: 12px;
}

.recipeCardlist .words {
  font-weight: bolder !important;
  font-size: 18px;
  color: black;
}

.recipeCardlist .icontext {
  font-size: 14px;
  color: black;
}

.recipeCardlist .icon {
  vertical-align: -4px;
}

.recipeSearchBar .MuiPaper-root {
  padding-bottom: 0;
}

.recipeSearchBar .appBar {
  color: #F5F5F5 !important;
  background-color: #FE8B83 !important;
}

.recipeSearchBar .toolBar {
  height: 90px;
  margin-top: 35px;
}

.recipeSearchBar .toolBar .header {
  display: none;
}

.recipeSearchBar .toolBar input {
  border-radius: 20px;
  border: none;
}

.recipeSearchBar .toolBar .search {
  margin-top: 4px;
}

.recipeSearchBar .toolBar .search .prompt {
  width: 200px;
  height: 20px;
  padding-left: 10px;
}

.recipeSearchBar .toolBar .search .content {
  color: black;
  display: block;
  background-color: white;
  width: 100%;
  padding: 4px;
}

.recipeSearchBar .stack {
  margin-top: 14px;
  margin-bottom: 15px;
  margin-left: 18px;
  overflow: scroll;
}

.recipeSearchBar .stack::-webkit-scrollbar {
  display: none;
}

.recipeSearchBar .iconBar {
  margin-left: 12px;
  color: #F5F5F5 !important;
}

.recipeSearchBar .inputBase {
  width: 380px;
  font-size: large !important;
  margin-left: 15px;
  background-color: aliceblue !important;
  border-radius: 20px;
}

.recipeSearchBar .chip {
  color: #707070 !important;
  font-size: large !important;
  font-weight: bolder !important;
  background-color: #e2e2e2 !important;
}

.contributeRecipe {
  position: relative;
  margin-top: 36px;
}

.contributeRecipe .MuiButtonBase-root {
  background-color: #fe8b83;
}

.contributeRecipe__swiper {
  height: 300px;
}

.contributeRecipe_btn {
  width: 100%;
  padding: 10px !important;
  border-radius: 10px !important;
  font-size: 20px !important;
  margin-top: 10px;
  color: #fff !important;
}

.contributeRecipe_btn .css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #fe8b83;
}

@media (min-width: 768px) {
  .contributeRecipe_btn {
    width: 30%;
  }
}

.contributeRecipe__swiperSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contributeRecipe__swiperSlide .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contributeRecipe .swiper {
  width: 100%;
  height: 100%;
  background: #000;
}

.contributeRecipe .swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.contributeRecipe .parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.contributeRecipe .swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.contributeRecipe .swiper-slide .subtitle {
  font-size: 21px;
}

.contributeRecipe .swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.recommend__recipe .recommendCard {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
}

.recommend__recipe .recommendCard .recommendCard__img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  padding-right: 20px;
}

.recommend__recipe .recommendCard .recommendCard__img img {
  border-radius: 20px;
}

.topBar .topBar__container {
  padding: 40px 13px 44px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topBar p {
  font-size: 26px;
  color: white !important;
  padding: 0 20px 0 0;
}

.inputcontainer {
  margin-left: 20px;
  margin-top: 40px;
  width: 144px;
  height: 28px;
}

.inputcontainer input {
  border-color: #FFFFFF;
}

.upload {
  margin-left: 32px;
  width: 309px;
  height: 240px;
  background-color: white;
  border-radius: 20px;
}

.upload .upload-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.upload .upload-container .css-1kuq5xv-MuiButtonBase-root-MuiIconButton-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.FridgeCardlist {
  margin-left: 12px;
}

.FridgeCardlist .block {
  margin-top: 60px;
}

.FridgeCardlist .area {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-top: 20px !important;
  background-color: #F5F5F5;
}

.FridgeCardlist .content {
  width: 350px;
  height: 142px;
  white-space: nowrap;
}

.FridgeCardlist .content h6 {
  font-size: 14px;
}

.FridgeCardlist .content button {
  margin: 4px 15px 0 130px;
  width: 18px;
  height: 18px;
  border-style: none;
  color: #FF0000;
}

.FridgeCardlist .content .edit button {
  color: #418DE1;
  border-style: none;
  margin-bottom: 11px;
  margin-top: 0;
}

.FridgeCardlist .img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.FridgeCardlist .words {
  font-weight: bolder !important;
}

.FridgeCardlist .icon {
  vertical-align: -4px;
}

.foodCard .box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  padding: 60px 0 13px 13px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foodCard .box .chickenCard {
  padding: 11px 20px;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.foodCard .box .chickenCard img {
  width: 145px;
  height: 120px;
}

.foodCard .box .contextCard {
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.foodCard .box .contextCard .foodName {
  font-size: 18px !important;
  padding: 11px 0 26px 0;
  font-weight: 600;
}

.foodCard .box .contextCard .detailCard {
  font-size: 14px;
}

.foodCard .box .contextCard .expiredTime {
  font-size: 14px;
  color: #FE645A !important;
}

.foodCard .box .delete-edit-card {
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.foodCard .box .delete-edit-card .deleteButton {
  color: #FF0000 !important;
}

.foodCard .box .delete-edit-card .editButton {
  padding: 100px 0 0 0;
  color: #418DE1 !important;
}

.fridgeBar {
  width: 100%;
}

.fridgeBar .top_bar {
  background: #C7E3EE;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 15px;
}

.fridgeBar .top_bar Button {
  color: #FFFFFF;
  background: #C7E3EE;
}

.fridgeBar .top_bar .LeftButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.fridgeBar .top_bar .LeftButton p {
  font-size: 26px;
}

.fridgeBar .top_bar .MiddleButton {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fridgeBar .top_bar .RightButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fridgeBar .top_bar p {
  color: #FFFFFF !important;
}

.fridgeBar .kind_bar {
  width: 100%;
  background: #F5F5F5;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #444545 !important;
}

.fridgeBar .kind_bar Button {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #444545;
}

.bottomNav {
  color: #444545 !important;
  z-index: 999 !important;
}

.bottomNav header {
  padding: 8px 0;
  background-color: #fff !important;
}

.bottomNav .MuiAppBar-positionFixed {
  bottom: 0;
  top: unset;
}

.bottomNav .MuiToolbar-root {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bottomNav__button {
  min-width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottomNav__button > .MuiIconButton-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bottomNav .MuiIconButton-label > a > p {
  margin: unset;
}

.bottomNav .active {
  background-color: #fe8b83 !important;
}

.bottomNav .active .MuiSvgIcon-root,
.bottomNav .active p {
  color: white !important;
}

.bottomNav a {
  text-decoration: none;
  display: block;
}

.assistant .dialogContainer {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.assistant .dialogContainer .MuiDialog-container {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.assistant .css-tlc64q-MuiPaper-root-MuiDialog-paper {
  margin: 24px 10px !important;
  padding: 8px;
  width: 100% !important;
  position: absolute !important;
  bottom: 0;
  background-color: #c4c4c4 !important;
}

.assistant .voice-recognition {
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.color-primary {
  color: #fe8b83 !important;
}
/*# sourceMappingURL=all.css.map */